/* 
    Document   : formAlumno
    Created on : 25/10/2013, 01:28:07 AM
    Author     : lizandro
    Description:
        Purpose of the stylesheet follows.
*/

#formAlumno{
    background-color: #ccc;
    width: 65%;
}

